/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */

article {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid black;
    }

  .style-me1 {
    color: red;
  }

  #style-me2 {
      color: blue;
  }

/* <p id="style-me2" class="style-me1" style="color: purple;"> INLINE


/* Put styles for questions 2.1 and 2.2 here */

.my-descendants-are-styled p {
    background-color: red;
  }

  .my-children-are-styled > p {
    background-color: lightgreen;
  }

/* II. Box model and common properties */
/* Put styles for questions 1-8 here */

.box {
    background-image: url("img1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px; 
    padding: 30px;
    width: 100vw, 100px;
    height: 100vh, 100px; !important
    border: 10px;
    border-color: yellow;
    border-style: solid;
    box-sizing: content-box;
    overflow: scroll;
    outline: 10px green;
    outline-style: solid; 
    border-radius: 1em 
  }

/* some inline style used too


/* III. Positioning */
/* Put styles for questions 1-3 here */

.position-absolute {
    position: absolute;
    top: 0;
    background-color: red;
  }

  .position-relative {
    position: relative left; 
    background-color: orange;
  }

  .position-sticky {
    position: sticky;
    top: 0;
    background-color: aquamarine;
  }


/* IV. Styling text */
/* Put styles for questions 1-10 here */

.text-style {
    color: brown;
    font-size: 30px;
    line-height: 150%
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: bold
    text-align centre;
    letter-spacing: 3px;
    word-spacing: 5px;
    text-transform: uppercase;
    text-decoration: underline;
  }
/* V. Styling links */
/* Put styles for questions 1-3 here */

a:hover {
    color: hotpink; 
    text-decoration: solid;  
  } 

  a:active {
    color: blue;
    text-decoration: dashed;
  }

  a:focus {
    color: lavender;
    text-decoration: overline;
  }

  a:visited {
    color: green
    
  }

/* VI. calc() */
/* Put styles for questions 1-3 here */

.calc-style {
    width: calc(100vw - 100px);
    background-color: blueviolet;
  }

  .fixed-width-col {
    width: 350px;
    display: inline-block;
  } 
  .fluid-col {
    background-color: yellow;
    width: calc(100vw - 30vw);
    display: inline-block;
  }
